*{
    margin:0;
    margin-left: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

/*header*/
.top_header{
    width: 100%;
    height: 40px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_header a {
    text-decoration: none;
    font-size: 13px;
    color: red;
}

.top_header a:hover {
    text-decoration: underline white; 
}

header{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_header{
    margin-left: 3%;
    display: flex;
}

p{
    margin-left: 30px;
}

.bi-list{
    margin-left: 10%;
}

.center_header{
    width: 300px;
}

.right_header .menu{
    margin-right: 100px;
}

.bi {
    font-size: 1.3rem; /* 아이콘 크기를 조절할 값 (예: 2rem) */
}


/* 슬라이드 컨테이너 스타일 */
.slide-container {
    position: relative;
}

/* 이전과 다음 버튼 스타일 */
.prevBtn,
.nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.prevBtn {
    left: 0;
}

.nextBtn {
    right: 0;
}

/* 이미지 슬라이드 스타일 */
.slide-list {
    display: flex;
    overflow: hidden;
}

.inner {
    display: none;
}

.slide .slide-container .slide-list .inner img {
    max-width: 100%;
    height: auto;
}

/* 첫 번째 이미지 표시 */
.inner:first-child {
    display: block;
}

/*img section1*/
.section1 {
    width: 100%;
    padding: 80px;
    position: relative;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.section1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.section1 ul li .section1-desc{
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.section1 a {
    text-decoration: none;
    color: inherit;
}

.section1 img {
    max-width: 100%;
    height: auto;
}

.section1 li .section1-img img:hover {
    opacity: 0.8; /* 이미지 투명도를 줄여 어두워지게 함 */
    transform: scale(1.01); /* 이미지 크기를 확대 */
    transition: transform 0.3s ease; /* 부드러운 변화를 위한 트랜지션 설정 */
}

/* 마우스가 이미지에서 벗어났을 때 원래 상태로 복원 */
.section1 li .section1-img img {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/*video section*/


/*img section2*/
.section2 {
    width: 100%;
    padding: 60px 30px;
    box-sizing: border-box;
}

.section2 ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.section2 a {
    text-decoration: none;
    color: inherit;
}

.section2 img {
    max-width: 100%;
    height: auto;
}

.section2 li .section2-img img:hover {
    opacity: 0.8; /* 이미지 투명도를 줄여 어두워지게 함 */
    transform: scale(1.01); /* 이미지 크기를 확대 */
    transition: transform 0.3s ease; /* 부드러운 변화를 위한 트랜지션 설정 */
}

/* 마우스가 이미지에서 벗어났을 때 원래 상태로 복원 */
.section2 li .section2-img img {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/*footer*/
footer{
    padding: 0 0 80px;
}
.top-footer{
    border: 1px solid #e5e5e5;
    padding: 40px 30px;
    display: flex;
    align-items: center;
}

.footer-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 48px;
}

.footer-menu .choose-store{
    display: flex;
}

.middle-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 30px 0;
    padding-top: 40px;
    font-family: 'Helvetica Neue','NotoSansKR',sans-serif;
    color: #1E1E1E;
    font-size: 13px;
    line-height: 1.66667;
}

.detail{
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    gap: 145px;
}

.default-info{
    text-align: right;
}

.middle-footer ul{
    list-style: none;
}

.bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 30px 0;
    font-family: 'Helvetica Neue','NotoSansKR',sans-serif;
    color: #1E1E1E;
    font-size: 13px;
    line-height: 1.66667;
}

